<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/head'); %>
</head>

<body>
    <%- include('components/navbar'); %>

    <form action="" method="POST" class="col-8 mx-auto mt-5">
        <h1 class="text-center"><%= title %></h1>
        <hr>
        <div class="row mb-3">
            <label>Title*</label>
            <input type="text" class="form-control" required maxlength="300" name="title"
                value="<%= oldData === null ? '' : oldData.title %>">
        </div>
        <div class="row mb-3">
            <label>Content*</label>
            <textarea class="form-control" required style="resize: none; height: 200px;"
                name="content"><%= oldData === null ? '' : oldData.content %></textarea>
        </div>

        <div class="errors">
            <% if (errors !== null) {%>
            <ul>
                <% for (const error of errors) { %>
                <li>
                    <%= error.msg %>
                </li>
                <% } %>
            </ul>
            <% } %>
        </div>

        <div class="row">
            <button class="btn btn-primary">Create</button>
        </div>
    </form>
</body>

</html>