<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/head'); %>
</head>

<body>
    <%- include('components/navbar'); %>

    <h1 class="text-center mt-3"><%= title %></h1>
    <hr>

    <% if (messages.length === 0) { %>
    <h1>No Messages Found</h1>

    <% } else { %>
    <div class="px-5">
        <% for (const message of messages) { %>
        <div class="card mb-3">
            <h5 class="card-header">
                <% if (currentUser.isMember) { %>
                <span>By <%= message.author.username %></span>
                <% } %>
                <span class="text-primary">
                    <%= DateTime.fromJSDate(message.updatedAt).toLocaleString(DateTime.DATE_MED); %>
                </span>
            </h5>
            <div class="card-body">
                <h5 class="card-title"><%= message.title %></h5>
                <p class="card-text"><%= message.content %></p>

                <% if(currentUser.isAdmin) { %>
                <button class="btn btn-danger" onclick="deleteMessage('<%= message._id %>')">Delete
                    Message</button>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>

    <script>
        function deleteMessage(id) {
            const url = `${window.location.origin}/message/delete/${id}`;
            fetch(url, { method: 'DELETE' })
                .then(response => response.json())
                .then(data => {
                    if (data.deleted) {
                        window.location.reload();
                    }
                })
                .catch(err => {
                    alert('Error while deleting')
                })
        }
    </script>
</body>

</html>