<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/head'); %>
</head>

<body>
    <form id="signupForm" action="" method="POST" class="col-8 mx-auto mt-5">
        <h1 class="text-center"><%= title %></h1>
        <hr>
        <div class="row mb-3">
            <div class="col">
                <label for="firstName">First Name*</label>
                <input type="text" class="form-control" required maxlength="100" pattern="^[A-Za-z]+$" name="firstName"
                    id="firstName" value=<%= oldData === null ? '' : oldData.firstName %>>
            </div>
            <div class="col">
                <label for="lastName">Last Name*</label>
                <input type="text" class="form-control" required maxlength="100" pattern="^[A-Za-z]+$" name="lastName"
                    id="lastName" value=<%= oldData === null ? '' : oldData.lastName %>>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="username">Username*</label>
                <input type="text" class="form-control" required maxlength="100" pattern="^[A-Za-z0-9]+$"
                    name="username" id="username" value=<%= oldData === null ? '' : oldData.username %>>
            </div>
            <div class="col">
                <label>Are you an admin? (Enter passphrase)</label>
                <input type="text" class="form-control" name="adminPass"
                    value="<%= oldData === null ? '' : oldData.adminPass %>">
            </div>
        </div>
        <div class=" row mb-3">
            <div class="col">
                <label for="password">Password*</label>
                <input type="password" class="form-control" required name="password" id="password"
                    value="<%= oldData === null ? '' : oldData.password %>">
            </div>
            <div class="col">
                <label for="confirmPassword">Confirm password*</label>
                <input type="password" class="form-control" required name="confirmPassword" id="confirmPassword"
                    value="<%= oldData === null ? '' : oldData.confirmPassword %>">
            </div>
        </div>
        <div class="errors">
            <% if (errors !== null) {%>
            <ul>
                <% for (const error of errors) { %>
                <li>
                    <%= error.msg %>
                </li>
                <% } %>
            </ul>
            <% } %>
        </div>
        <div class="row">
            <button class="btn btn-primary">Sign Up</button>
        </div>
        <div class="row text-center">
            <p>Already have an account? <a href="/user/login">Log In</a></p>
        </div>
    </form>

    <%- include('validators/signup'); %>
</body>

</html>